.contentContainer {
  position: relative;
  color: white;
  background-color: #141349;
  width: 300px;
  height: 165px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 0;
}
.contentContainer:hover {
  scale: 1.1;
}

.typeNameContainer {
  margin-left: 1vw;
  position: absolute;
  top: 15%;
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.typeHeader {
  font-size: 3rem;
}

.timeOfDayHeader {
  font-size: 1.75rem;
}

.bottomContainer {
  margin-left: 1vw;
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 2vh;
}

.bottomInnerDivs {
  display: flex;
}

.bottomInnerDivs > *{
  margin-right: 2px;
}