@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import 'tailwindcss/base';
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
}

button {
  background-color: #FF5C55;
  color: white;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
}

h1 {
  font-size: 30px;
}

@layer components {
  .inworkout-btns {
    position: absolute;
    width: 300px;
    max-width: 80vw;
    height: 5vh;
    border-radius: 15px;
    bottom: 4vh;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .style-btn {
    background-color: white;
    color: #141349;
    border: solid 2px #141349;
    width: 150px;
    height: 45px;
    font-size: 24px;
  }
  .style-btn:hover {
    border: none;
    background-color: #141349;
    color: white;
  }
  
  .closeIcon {
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
  }
}






